<section class="vehicle">
  <section class="vehicle__weapon">
    <h2 class="vehicle__title">Rapid wapon</h2>
    <p class="vehicle__text">Leonardo paid much attention to the design of automatic firearms. To increase the power and speed of fire, he fanned out a multitude of trunks.</p>
    <table class="vehicle__table">
      <tbody>
        <tr>
          <td class="vehicle__desc">Amount of trunks</td>
          <td class="vehicle__count">10</td>
          <td class="vehicle__desc">Defeat range</td>
          <td class="vehicle__count">150м</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="vehicle__link">Buy product</a>
  </section>

  <section class="vehicle__van">
    <h2 class="vehicle__title">Armored van</h2>
    <p class="vehicle__text">Leonardo da Vinci designed a heavy turtle-shaped van, armed with cannons and armored armor. The movement of this platform is carried out by 8 people using a gearbox connected to the wheels.</p>
    <table class="vehicle__table">
      <tbody>
        <tr>
          <td class="vehicle__desc">Amount of trunks</td>
          <td class="vehicle__count">8</td>
          <td class="vehicle__desc">Defeat range</td>
          <td class="vehicle__count">100м</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="vehicle__link">Buy product</a>
  </section>

  <section class="vehicle__van">
    <h2 class="vehicle__title">Winch catapult</h2>
    <p class="vehicle__text">The catapult has a flexible shoulder, bending backwards using a hand winch, as well as a bucket, where a stone is thrown along the ladder. A group of such catapults hitting the enemy at the same time can provide excellent protection.</p>
    <table class="vehicle__table">
      <tbody>
        <tr>
          <td class="vehicle__desc">Weight of projectile</td>
          <td class="vehicle__count">26kg</td>
          <td class="vehicle__desc">Defeat range</td>
          <td class="vehicle__count">300м</td>
        </tr>
      </tbody>
    </table>
    <a href="#" class="vehicle__link">Buy product</a>
  </section>
</section>
