<section class="vehicle">
  <section class="vehicle__weapon">
    <img class="weapon__photo" src="../../images/weapon_1.jpg" alt="Photo Rapid weapon" height="271" width="490">
    <div class="weapon__wrapper">
      <h2 class="weapon__title">Rapid wapon</h2>
      <p class="weapon__text">Leonardo paid much attention to the design of automatic firearms. To increase the power and speed of fire, he fanned out a multitude of trunks.</p>
      <table class="weapon__table">
        <tbody>
          <tr>
            <td class="weapon__desc">Amount of trunks</td>
            <td class="weapon__count">10</td>
            <td class="weapon__desc weapon__desc_range">Defeat range</td>
            <td class="weapon__count">150м</td>
          </tr>
        </tbody>
      </table>
      <a class="weapon__link" href="#">Buy product</a>
    </div>
  </section>

  <section class="vehicle__weapon">
    <img class="weapon__photo weapon__photo_van" src="../../images/weapon_2.jpg" alt="Photo Armored van" height="400" width="490">
    <div class="weapon__wrapper weapon__wrapper_van">
      <h2 class="weapon__title">Armored van</h2>
      <p class="weapon__text">Leonardo da Vinci designed a heavy turtle-shaped van, armed with cannons and armored armor. The movement of this platform is carried out by 8 people using a gearbox connected to the wheels.</p>
      <table class="weapon__table">
        <tbody>
          <tr>
            <td class="weapon__desc">Amount of trunks</td>
            <td class="weapon__count">8</td>
            <td class="weapon__desc weapon__desc_range">Defeat range</td>
            <td class="weapon__count">100м</td>
          </tr>
        </tbody>
      </table>
      <a class="weapon__link" href="#">Buy product</a>
    </div>
  </section>

  <section class="vehicle__weapon">
    <img class="weapon__photo" src="../../images/weapon_3.jpg" alt="Photo Winch catapult" height="351" width="490">
    <div class="weapon__wrapper">
      <h2 class="weapon__title">Winch catapult</h2>
      <p class="weapon__text">The catapult has a flexible shoulder, bending backwards using a hand winch, as well as a bucket, where a stone is thrown along the ladder. A group of such catapults hitting the enemy at the same time can provide excellent protection.</p>
      <table class="weapon__table">
        <tbody>
          <tr>
            <td class="weapon__desc">Weight of projectile</td>
            <td class="weapon__count">26kg</td>
            <td class="weapon__desc weapon__desc_range">Defeat range</td>
            <td class="weapon__count">300м</td>
          </tr>
        </tbody>
      </table>
      <a class="weapon__link" href="#">Buy product</a>
    </div>
  </section>
</section>
