<section class="about">
  <h2 class="about__title">Leonardo Da Vinci</h2>
  <p class="about__text"><span class="about__letter">L</span>eonardo Da Vinci or simply Leonardo, was an Italian polymath of the Renaissance whose areas of interest included invention, drawing, painting, sculpting, architecture, science, music, mathematics, engineering, literature, anatomy, geology, astronomy, botany, writing, history, and cartography. He has been variously called the father of palaeontology, ichnology, and architecture, and he is widely considered one of the greatest painters of all time.</p>
  <p class="about__text">Leonardo is revered for his technological ingenuity. He conceptualised flying machines, a type of armoured fighting vehicle, concentrated solar power, an adding machine, and the double hull.</p>
  <p class="about__text">The <a class="about__link" href="#">catalog</a> presents the most successful of his military inventions.</p>
</section>
