<footer class="main-footer" id="i-footer">
  <h2 class="footer__title">Send Pigeon</h2>
  <form class="footer__form" action="post">
    <label for="i-footer__name"><span class="visually-hidden">Your name</span>
      <input class="footer__name" id="i-footer__name" name="name" type="text" placeholder="Your name">
    </label>
    <label for="i-footer__email"><span class="visually-hidden">Your email</span>
      <input class="footer__email" id="i-footer__email" name="email" type="email" placeholder="Your email">
    </label>
    <label for="i-footer__message"><span class="visually-hidden">Your message</span>
      <textarea name="footer__text" id="i-footer__message">Your message</textarea>
    </label>
  </form>
</footer>
