<header class="main-header">
  <nav class="main-header__navigation">
    <a class="main-header__logo">Leonardo Da Vinci</a>
    <ul class="navigation__list">
      <li class="navigation__item"><svg class="navigation__image" height="28" width="28"><use xlink:href="./images/sprites/sprite.svg#icon_send"></use></svg><a class="navigation__link" href="#i-footer">Send pigeon</a></li>
    </ul>
  </nav>
  <h1 class="main-header__title">Military vehicles of the great genius</h1>
  <button class="main-header__button">Choose vehicle</button>
</header>
